<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to
    <%= title %>
  </p>
  <form action="/upload/single" method="post" enctype="multipart/form-data">
    <h2>上传单个文件</h2>
    <input type="file" name="single">
    <input type="submit" value="提交">
  </form>
</body>

</html>